$tamanio-texto: 22px;
$ancho-caja: 330px;
$fondo-cajas:#C1D0B5;

.productos{
  background-image: url("../images/fondos/fondoprod4.jpg");
  background-repeat: no-repeat;
  background-position:inherit;
  background-size: cover;
  font-family: "Great Vibes";
  text-align: center;
}
.container{
  background: rgba(157,178,191,0.7);
}
.titulo {
  font-family: 'Courgette', cursive;
  font-family: 'Pacifico', cursive;
  text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0, 0, 0, 0.5),
    4px 4px 5px rgba(0, 0, 0, 0.7), 0px 0px 7px rgba(0, 0, 0, 0.4);
  color: #658864;
  font-size: 120px;
  }
   /*boton arriba*/
.log{
  width: 50px;
  height: 50px;
}
.arriba{
  position: relative;
  left: 50%;
}
/*PRODUCTOS*/
.card{
  margin: 10px 30px 10px 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  width: $ancho-caja;
  // border-radius: 24px;
    .card-body{
      background-color: $fondo-cajas;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    b {
      // text-align: start;
      font-size: 24px;

    }
    .span {
      font-size: $tamanio-texto;
    }
    .spantipo {
      font-size: $tamanio-texto;
    }
    .spanmarca {
      font-size: $tamanio-texto;
    }
  
    .spannombre {
      font-size: $tamanio-texto;
    }
}
// .card{
//   margin: 10px 30px 10px 30px;
//   width: $ancho-caja;
//   border-radius: 34px;
// }
.ultimo{
position: relative;
top: -20%;
}
.btn{
  background: transparent;
  border: none;
  cursor: pointer;
}
.favoritos{
  width: 20px;
  height: 20px;
  background-image: url('../images/logos/globo-de-corazonsinrelleno.png');
  background-size: cover;
  transition: background-image 0.3s;

  &:hover{
    background-image: url("../images/logos/globo-de-corazon.png");
  }
}

#th{
  display: none;
}
